*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    flex-direction: column;
    background-color: chocolate;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#325C58;
    width: 80%;
    height: 420px;
    border-radius: 16px;
    background: radial-gradient(circle, rgb(2, 152, 129) 40%, rgba(44,85,81,1) 91%);
    border-top: rgb(27, 225, 169) 10px solid;
    border-left: rgb(140, 206, 188) 15px solid;
    border-bottom: rgb(36, 60, 53) 10px solid;
    border-right: rgb(23, 49, 42) 15px solid;
    box-shadow: 2px 2px 2px rgb(44, 99, 76);
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 300px;
    box-shadow: 9px 13px 18px 2px rgba(21, 21, 21, 0.5);
}

li{
    display: flex;
    align-items: end;
    justify-content: center;
    text-transform: uppercase;
    background-color: aliceblue;
    width: 10%;
}

li span{
    margin-bottom: 20px;
    font-weight: bold;
}

li.Blanca{
    border-radius: 0px 0px 6px 6px;
    border: solid 1px rgb(97, 97, 97);
    border-bottom: 15px grey solid;
    box-shadow: 9px 13px 18px 2px rgba(36, 36, 36, 0.822);
}

li.Blanca.hover{
    border-radius: 0px 0px 6px 6px;
    border: solid 1px rgb(97, 97, 97);
    box-shadow: 9px 25px 18px 2px rgba(36, 36, 36, 0.822);
    background: linear-gradient(274deg, aliceblue 10%, rgb(186, 186, 186) 90%);
}

li.Negra{
    background-color: rgb(16, 16, 16);
    height: 200px;
    width: 5%;
    margin: 0px -26px 0px -27px;
    z-index: 2;
    border-radius: 0px 0px 6px 6px;
    color: aliceblue;
    box-shadow: 8px 5px 10px 0px rgba(36, 36, 36, 0.822);
    border-bottom: 15px rgb(73, 73, 73) solid;
}

li.Negra.hover{
    background-color: rgb(35, 35, 35);
    height: 195px;
    width: 5%;
    margin: 0px -26px 0px -27px;
    z-index: 2;
    border-radius: 0px 0px 6px 6px;
    color: aliceblue;
    box-shadow: 3px 5px 10px 0px rgba(36, 36, 36, 0.822);
    border-bottom: 6px rgb(73, 73, 73) solid;
}




@media (max-width: 768px) {
    div {
        width: 100%; /* El piano ocupará todo el ancho de la pantalla */
        height: 60vh; /* Ajusta este valor para tu preferencia */
    }

    .message-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
 
    }

    .message {
        color: white;
        font-size: 24px;
        font-family: 'Luckiest Guy', cursive;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(255, 165, 0, 0.9); /* Fondo naranja semi-transparente */
        animation: bounce 2s infinite;
        position: relative; /* Agregar esta línea */
        top: 50%; /* Agregar esta línea */
        transform: translateY(-50%); /* Agregar esta línea */
    }

    

    @keyframes bounce {
        0%, 100% { transform: translate(-50%, -50%) rotate(0deg); }
        25% { transform: translate(-50%, -50%) rotate(10deg); }
        75% { transform: translate(-50%, -50%) rotate(-10deg); }
    }
    /* Estilos para la flecha */
    
}